* {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    
}

.title{
    padding: 0px 50px;
}

.subtitle{
    font-size: 48px;
    padding: 0px 50px;
}

.content{
    padding: 50px 50px;
    width: 100%;
}

.subtext{
    padding: 0px 50px;
    font-size: 36px;
    font-weight: 700;
}

.inp_f{
    padding: 0px 50px;
}

h2{
    width: 52%;
}

#hidden_label{
    font-size: 20px;
}

#query{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    width: 50%;
}

.checkboxes{
    width: 60%;
    gap: 20px;
    font-size: 18px;
}

.indi_c{
    display: inline;
}

.submit{
    font-size: 28px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 8px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 20px 30px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;   
}


@keyframes buttonAnimation {
    0% { transform: scale(1); background-color: #000;}
    50% { transform: scale(1.1); background-color: #5c5c5c;}
    100% { transform: scale(1);}
}

/* Apply the animation to the button when hovering */
.submit:hover {
    animation: buttonAnimation 0.5s ease-in-out;
    background-color: #5c5c5c;
}

.progress_anim > .container{
    offset-path: rect(50px 150px 200px 50px round 20%);
    background-color: red;
}

.heading{
    margin: 0px;
    font-size: 85px;
    color: white;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 50px;
}

.bi{
    font-weight: 700;
    font-style: italic;
}


  