* {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}

.heading{
    margin: 0px;
    font-size: 85px;
    color: white;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 30px 50px;
}


.title{
    padding: 0px 50px;
}

.subtitle{
    font-size: 48px;
    padding: 0px 50px;
}

.content_o{
    padding: 50px 50px;
    width: 100%;
}

.roArea{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
}



.hidQ, .btnContainer, .stateinfo{
    padding: 20px 50px;
    width: 75%;
}

.btnContainer{
    width: 100%;
    gap: 50px;
}

.res{
    width: 100%;
    padding: 50px 50px;
}

.progress{
    padding: 0px 50px;
}


.state_label{
    font-size: 18px;
    font-weight: 700;
}

.subtext{
    font-size: 18px;
}

a{
    padding: 0;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: 700;
}

.content {
    padding: 0 18px;
    display: flex;
    overflow: hidden;
    background-color: #f1f1f1;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.state_info{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 20px;
    width: 100%;
}

.submit, .cancel_submit{
    width: 10%;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 8px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    list-style: none;
    margin: 0;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;   
}

.actualInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.outContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 60px;
}

.min_tab{
    display: block;
    overflow: scroll;
    background-color: #f1f1f1;
}

th, td{
    background-color: #f1f1f1;
    border: black solid 2px;
    padding: 5px;
    border-collapse: collapse;
}

table{
    border-radius: 2px;
    border-collapse: collapse;
}

.dbmin{
    flex-direction: column;
    gap: 10px;
}

#query{
    font-size: 16px;
}

.innerContainer{
    border-radius: 10px;
}

.sample_table{
    font-size: 18px;
}



.innerContainer1{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    margin: 0px 80px 0px 0px;
}



  
.bi{
    font-weight: 700;
    font-style: italic;
}

.inincont{
    width: 630px;
}

@keyframes buttonAnimation {
    0% { transform: scale(1); background-color: #000;}
    50% { transform: scale(1.1); background-color: #5c5c5c;}
    100% { transform: scale(1);}
}

/* Apply the animation to the button when hovering */
.submit:hover {
    animation: buttonAnimation 0.5s ease-in-out;
    background-color: #5c5c5c;
}

@keyframes cancelButtonAnimation {
    0% { transform: scale(1); background-color: #000;}
    50% { transform: scale(1.1); background-color: #f00;}
    100% { transform: scale(1);}
}

.cancel_submit:hover {
    animation: cancelButtonAnimation 0.5s ease-in-out;
    background-color: #f00;
}

.subtitle{
    font-size: 24px;
    font-weight: 700;
}

.subcontent{
    font-size: 18px;
    font-weight: 700;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.subsubcontent{
    font-weight: 400;
}

.down{
    position: relative;
    
}

.right{
    left: 1500px;
}

.left{
    left: 200px;
}


.stage{
    position: relative;
    font-size: 28px;
    font-weight: 700;
}

.path.inactive{
    fill: #dedede;
}

.path.running{
    fill: #ffcc00;
}

.path.done{
    fill: #339933;
    
}

svg:has(>.path.done) + div{
    color: #fff;
}

#from{
    width: 150px;
}
#from > div{
    position: absolute;
    top:30px;
    left: 20px;
}

#union_from{
    width: 150px;
}
#union_from > div{
    position: absolute;
    top:12px;
    left: 20px;
}


.in_out{
    margin-bottom: 50px;
    width: 200px;
    height: 120px;
}

#restore_db > div{
    position: absolute;
    top:25px;
    left: 95px;
}

.stage_and_transitions{
    display: flex;
}

.stage_and_transitions.down{
    flex-direction: column;
    position: relative;
}

#min_db_t{
    position: absolute;
    top: 70px;
    left: -70px;
}

#nep_t{
    position:absolute;
    top: -225px;
    left:-1321px;
}

#nep_t2{
    position:absolute;
    top: -92px;
    left: -1141px;
}

#filter_t{
    position:absolute;
    top: 120px;
    left: 30px;
}

#limit_t{
    position:absolute;
    top: 33px;
    left: -157px;
}

#oj_t{
    position:absolute;
    top: 215px;
    left: -1142px;
}

#limit_nep{
    position:absolute;
    top: -87px;
    left: -91px;
}

#res_finish{
    position:absolute;
    top: 182px;
    left: -484px;
    transform: rotate(180deg) scaleX(1.2);;
}

#limit_oj{
    position:absolute;
    top: -34px;
    left: -108px;
}

#rdb_t{
    position:absolute;
    top: -134px;
    left: 152px;
}

#start_from{
    position:absolute;
    top: -340px;
    left: 50px;
}

#start_union{
    position:absolute;
    top: -215px;
    left: 52px;
}

#projection_t{
    position:absolute;
    top: -124px;
    left: 26px;
    transform: rotate(180deg);
}

.row{
    display: flex;
    align-items: center;
    margin-top: 27px;
}

.second{
    gap:30px;
}

.first{
    margin-left: 180px;
}

.third{
    margin-left: 150px;
}

#sampling > div{
    position: absolute;
    top:40px;
    left: 100px;
}

#min_db > div{
    position: absolute;
    top:25px;
    left: 120px;
}

#projection > div{
    position: absolute;
    top:40px;
    left: 50px;
}

#inequality > div{
    position: absolute;
    top:40px;
    left: 60px;
}

#start > div{
    position: absolute;
    top:6px;
    left: 16px;
}


#equality > div{
    position: absolute;
    top:40px;
    left: 80px;
}

#filter > div{
    position: absolute;
    top:40px;
    left: 95px;
}


#nep > div{
    position: absolute;
    top:51px;
    left: -63px;
    transform: rotate(-90deg);
}

#group_by > div{
    position: absolute;
    top:27px;
    left: 98px;
}

#finished > div{
    position: absolute;
    top:27px;
    left: 98px;
}

#agg > div{
    position: absolute;
    top:41px;
    left: 76px;
}

#ob > div{
    position: absolute;
    top:31px;
    left: 105px;
}

#limit > div{
    position: absolute;
    top:40px;
    left: 105px;
}


.substages{
    display: flex;
    gap: 60px;
}

#start_txt{
    font-size: 50px;
    color: #f00
}

.container{
    display: block;
    position: relative;
}

.right.stages{
    position: relative;

}

.stages > .stage{
    position: absolute;
}

#nep{
    top: -90px;
    left: -1263px;
}

#oj > div{
    position: absolute;
    top:110px;
    left: -20px;
    transform: rotate(-90deg);
}

#oj{
    left: -1141px;
    top: -40px;
}

#finished{
    top: 210px;
    left: -531px;
}

#finished > div{
    position: absolute;
    top: 39px;
    left: 39px;
}

#res_comp{
    top: 194px;
    left: 190px;
}

#res_comp > div{
    position: absolute;
    top:28px;
    left: 50px;
}

#nep_res{
    position:absolute;
    top: 176px;
    left: -1217px;
    transform: rotate(180deg) scaleY(1.5);
    z-index: -1;
}


@keyframes pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.1);
    }
}

.main_p{
    fill:#d9f2d0;
    stroke: #3b7d23;
}

.union_p{
    fill: #c3bae0;
    stroke: #7030a0;
}

.nep_p{
    fill: #156082;
    stroke: #062635;
}

.dis_p{
    fill: #f2aa84;
    stroke: #e97537;
}

.oj_p{
    fill: #c1e5f5;
    stroke: #46b1e1;
}

