* {
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #d2dae2;
    text-align: left;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.title{
    font-size: 32px;
    font-weight: 700;
}

.roArea{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    width: 100%;
}

.subtitle{
    font-size: 22px;
}


.hidQ, .progress, .btnContainer, .res, .stateinfo{
    width: 52%;
}

.state_label{
    font-size: 18px;
    font-weight: 700;
}

.subtext{
    font-size: 18px;
}

a{
    padding: 0;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 700;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.state_info{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    width: 100%;
}

.submit{
    width: 10%;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
    background-color: rgba(51, 51, 51, 0.2);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    list-style: none;
    margin: 0;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;   
}

.actualInfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.outContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.min_tab{
    display: block;
    overflow: scroll;
    background-color: #fff;
}

th, td{
    background-color: #fff;
}

table{
    border: black solid 2px;
    border-radius: 2px;
}

.dbmin{
    display: flex;
    flex-direction: column;
    gap: 10px;
}