*__pycache__*
.DS_Store
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/Union_extraction.iml
.idea/vcs.xml
.idea/workspace.xml
mysite/__init__.py
mysite/db.sqlite3
mysite/hqe/.DS_Store
mysite/hqe/migrations/0001_initial.py
mysite/hqe/refactored/.DS_Store
mysite/hqe/refactored/__init__.py
mysite/hqe/refactored/abstract/__init__.py
mysite/hqe/refactored/util/__init__.py
mysite/hqe/src/pipeline/__init__.py
mysite/hqe/src/pipeline/abstract/__init__.py
*.xml
*.log
*.patch
*.ini
mysite/hqe/test/regression/extraction_result.sql
*.csv
*.sql
