<div id="load" class="load">


    
<table>
    
    <tr>
        
        <td colspan="7">DATABASE MUTATION</td>   

    </tr>  
    <tr>
                <td>
                    <table >
                        <tr><button type="button">FROM CLAUSE EXTRACTOR</button></tr>
                         <tr><td class="spots">{{ from_time }}</td></tr>
                    </table>
                </td>
                <td>
                    <span style='font-size:50px;'>&#8680;</span>
                </td>
                   
                <td >
                     <table>
                        <tr><button type="button">DATABASE MINIMIZER</button> </tr>
                        <tr> <td class="spots">{{ minimization_time }}</td></tr>
                    </table>
                </td>
                <td>
                    <span style='font-size:50px;'>&#8680;</span>
                </td>
                <td class="border_where_clause_extractor">
                    <table>
                        <td>
                            <table>
                                <tr><button type="button">JOIN PREDICATE EXTRACTOR</button></tr>
                                <tr><td class="spots">{{ join_time }}</td></tr>
                            </table>

                        </td>
                        <td>
                            <span style='font-size:50px;'>&#8680;</span>
                        </td>
                        <td>
                            <table>
                                <tr><button type="button">FILTER PREDICATE EXTRACTOR</button></tr>
                                <tr><td class="spots">{{ filter_time }}</td></tr>
                            </table>

                        </td>
                    
                    </table>
                </td>
                <td>
                    <span style='font-size:50px;'>&#8680;</span>
                </td>

                <td >
                    <table>
                        <tr><button type="button">PROJECTED ATTRIBUTE EXTRACTOR</button></tr>
                        <tr><td class="spots">{{ select_time }}</td></tr>
                        
                    </table>
                </td>
                <td>
                    <span style='font-size:50px;'>&#8628;</span>
                </td>
                    
    </tr>
    <tr>
        
        <td colspan="7">DATABASE GENERATION</td>
        <td><span style='font-size:50px;'>&#8681;</span></div></td>

       

    </tr>   
        
  
    <tr >
           <td>
                        <table>
                            <tr><button type="button">QUERY ASSEMBLER AND CHECKER</button></tr>
                            <tr><td class="spots">{{assemble_time}}</td></tr>
                            
                        </table>
                    </td>
                    <td>
                        <span style='font-size:50px;'>&#8678;</span>
                    </td>
                   
                
                    <td class="border_where_clause_extractor">
                        <table>
                            <td>
                                <table>
                                    <tr><button type="button">LIMIT EXTRACTOR</button></tr>
                                    <tr><td class="spots">{{ limit_time }}</td></tr>
                                </table>

                            </td>
                            <td>
                                <span style='font-size:50px;'>&#8678;</span>
                            </td>
                            <td>
                                <table>
                                    <tr><button type="button">ORDER-BY CLAUSE EXTRACTOR</button></tr>
                                    <tr><td class="spots">{{ orderby_time }}</td></tr>
                                </table>

                            </td>
                        
                        </table>
                    </td>
                    <td>
                        <span style='font-size:50px;'>&#8678;</span>
                    </td>
                        <td>
                            <table>
                                <tr><button type="button">AGGREGATION EXTRACTOR</button>  </tr>
                                <tr><td class="spots">{{ agg_time }}</td></tr>
                            </table>
                        </td>
                    
                        <td>
                            <span style='font-size:50px;'>&#8678;</span>
                        </td>
                    <td>
                        <table>
                            <tr><button type="button">GROUP-BY CLAUSE EXTRACTOR</button></tr>
                            <tr><td class="spots">{{ groupby_time }}</td></tr>
                        </table>
                    </td>
                    <td>
                        <span style='font-size:50px;'>&#8629;</span>
                    </td>



    </tr>




</table>




<table>

    <tr><th>Select:</th><td class="op">{{ select_op }}</td></tr>

    <tr><th>From</th><td class="op">{{ from_op }}</td></tr>
    
    <tr><th>Where:</th><td class="op">{{ where_op }}</td></tr>
    <tr><th>Groupby:</th><td class="op">{{ groupby_op }}</td></tr>
    <tr><th>Orderby:</th><td class="op">{{ orderby_op }}</td></tr>
    <tr><th>Limit:</th><td class="op">{{ limit_op }}</td></tr>
</table>
  

</div>
  