{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script>
        if (window.location.href.split('/').length > 5){
            window.location.href = '/unmasque/'  
        }
        
    </script>
</head>
<body>
    <div class="title">UNMASQUE</div>
    <div class="subtitle">Unified Non-invasive MAchine for Sql QUery Extraction</div>
    {% if error_message %}
        <h3 style="color:Tomato;">{{ error_message }}</h3>
    {% endif %}
    <hr>
    <h2>Enter the Query to be Extracted</h2>
    <hr>
    <form method="post">
        {% csrf_token %}
        <br>
        <label for="query" id="hidden_label">Hidden Query:</label><br>
        <textarea name="query" id = "query" rows="5" cols="100" required></textarea><br><br>
        <input type="checkbox" id="sampling" name="sampling" value="Sampling" checked></input>
        <label for="sampling">Sampling</label>
        <input type="checkbox" id="union" name="union" value="Union"></input>
        <label for="union">Union</label>
        <input type="checkbox" id="nep" name="NEP" value="NEP"></input>
        <label for="nep">NEP</label>
        <br/>
        <br/>
        <input type="submit" class="submit" value="Extract">
    </form>
</body>
</html>
