{% extends "base.html" %}
{% block content %}
<style>
tr{
 width:400px;

}

</style>

<body>

  <table>
    <tr>
      <th width="800px"> Original (Blackbox)  Query  is:</th>
      <th width="800px">Unmasque - Extacted Query</th>
      <th width="400px">Compare Results of hidden query and extracted Query. (Hash Based Result Comparator.)
        <a href="hash_result_comparator"><button type="button" width=100% >Click to Compare Results</button></a>
      </th>
    </tr>
    <tr>
      <td><textarea>{{input_query}}</textarea>
      </td>
      <td><textarea>{{output_query}}</textarea></td>
      <td>
        
          <textarea>{{res_comp}}</textarea>
        
        </td>
    
    </tr>
  </table>

  <a href="back_to_query_page"><button type="button" > Back to Query Page</button></a>

  
    
    
   

</body>

{% endblock %}