
<div >
    Select Minimizer:
    <a href="set_view_based_minimizer" ><button type="button" id="b1" >View Based Minimizer </button></a>
    <a href="set_copy_based_minimizer"><button type="button"  id="b2" >Copy Based Minimizer </button></a>
    <textbox id="textarea2" width="10px" height="10">{{min_option}}</textbox>

</div>



{% extends "base.html" %}

{% block content %}


  
    <form name='form' method='POST' action='/query_process_page' >   
    
      
         
      <div class="col-75">
        <table>
          <tr>
            <td width="1400px">
              <label for="subject">Write your query here:</label>
            
              <textarea id="n" name="QUERY" placeholder="blackbox query...." >{{q}}</textarea>
              <input id="submit" type="submit" value="Submit" name="submit" onclick="document.getElementById('textarea1').value = ''">
    
            </td>
            <td width="400px">
              <textarea id="textarea1">{{er}}</textarea>
            </td>
          </tr>
    
    
        </table> 
      </div>
  
      <!-- <script>
        // Get the button, and when the user clicks on it, execute myFunction
        document.getElementById("submit").onclick = function() {myFunction()};
        
        /* myFunction toggles between adding and removing the show class, which is used to hide and show the dropdown content */
        function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
        }
        </script> -->

      
    </form>
<!--  
  <div class="col-75">
    <table>
      <tr>
        <td width="1400px">
          <label for="subject">Write your query here:</label>
        
          <textarea id="n" name="QUERY" placeholder="blackbox query...." ></textarea>
          <input type="submit" value="Submit" name="submit">

        </td>
        <td width="400px">
          <textarea>{{er}}</textarea>
        </td>
      </tr>


    </table> 
  </div>
 -->

 <!-- <div class="col-75">
  <label for="subject">Write your query here:</label>
      
  <textarea id="n" name="QUERY" placeholder="blackbox query...." ></textarea>
  <input type="submit" value="Submit" name="submit">
  
</div> -->

{% endblock %}