{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Progress...</title>
    <link rel="stylesheet" href="{% static 'progress.css' %}">
</head>
<body>
    <div class="heading">
        <div class="title">UNMASQUE</div>
        <div class="subtitle"><span class="bi">U</span>nified <span class="bi">N</span>on-invasive <span class="bi">MA</span>chine for <span class="bi">S</span>ql <span class="bi">QU</span>ery <span class="bi">E</span>xtraction</div>
    </div>
    <div class="content_o">
        <div class="hidQ subtext">
            <h1>Hidden Query</h1>
            <textarea readonly class="roArea" id="query" rows="5" cols="100">{{ query }}</textarea>
        </div>
        <div class="progress subtext">
            <h1>Please Wait...</h1>
            <div id='progress-updates'>{{ progress_message }}</div>
            <div class="pipeline">
                {% for row in rows %}
                <div class="row">
                    {% for stage in row %}
                    <div class="stage">
                        <div class="circle inactive" data-state="{{ stage }}"></div>
                        <div class="label">{{ stage }}</div>
                        
                        </div>
                        {% if not forloop.last %}
                        {% if forloop.parentloop.counter0|divisibleby:2 %}
                        <div class="arrow">&#8594;</div>
                        {% else %}
                        <div class="arrow">&#8592;</div>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>    
        </div>
        <div class="stage_res">

        </div>
        <div class="res">
            <h1>Output</h1>
            <div class="outContainer">
                <div class="innerContainer1">
                    <div class="inincont">
                        <label class="state_label">SELECT</label>
                        <textarea readonly class="roArea state_sql" id="select" rows="3" cols="50"></textarea>
                    </div>
                    <div class="inincont">
                        <label class="state_label">FROM</label>
                        <textarea readonly class="roArea state_sql" id="from" rows="3" cols="50"></textarea>
                    </div>
                </div>
                <div class="innerContainer1">
                    <div class="inincont">
                        <label class="state_label">WHERE</label>
                        <textarea readonly class="roArea state_sql" id="where" rows="3" cols="50"></textarea>
                    </div>
                    <div class="inincont">
                        <label class="state_label">GROUP BY</label>
                        <textarea readonly class="roArea state_sql" id="group_by" rows="3" cols="50"></textarea>
                    </div>
                </div>
                <div class="innerContainer1">
                    <div class="inincont">
                        <label class="state_label">ORDER BY</label>
                        <textarea readonly class="roArea state_sql" id="order_by" rows="3" cols="50"></textarea>
                    </div>
                    <div class="inincont">
                        <label class="state_label">LIMIT</label>
                        <textarea readonly class="roArea state_sql" id="limit" rows="3" cols="50"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="stateinfo">
            <h1>Output from modules</h1>
            <div class="actualInfo">

            </div>
        </div>
        <div class="btnContainer">
            <a href="{% url 'cancel' token %}" ><button class="cancel_submit">Cancel</button></a>
            <a href="{% url 'result' token %}" ><button class="submit" id="res_btn" disabled>Result</button></a>
        </div>
    </div>
    <!-- Progress updates will be displayed here -->

    <!-- Include jQuery library (you can use a different library if you prefer) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        
        let handle_circle_click = (ev) => {
            const clicked = ev.target;
            console.log(clicked)
            switch(clicked.dataset.state){
                case STATES[2]:
                    $(".stage_res").html('<div class="input"'+data[STATES[2]].input+'</div>')
            }
        }

        let circle_event_adder = () => {
            let circles = document.getElementsByClassName("circle");
            for(let circle of circles){
                circle.addEventListener("click", handle_circle_click);
            }
        }
        let where_and_join = (fil, ej) =>{
            let joins = []
            where_op = ""
            if(ej){
                for (let edge of ej){
                    edge.sort()
                    for(let i=0; i < edge.length - 1; i++){
                        left_e = edge[i]
                        right_e = edge[i + 1]
                        join_e = `${left_e} = ${right_e}`
                        joins.push(join_e)
                    }    
                }
            }
            where_op = joins.join(" and ")
            if(where_op != "" && fil && fil[1] != ""){
                where_op += " and "
            }
            where_op += (fil)?fil[1]:""
            return where_op
        }

        let g = () => {
            (onOrOff[STATES.indexOf(i)] == 1)
            var coll = document.getElementsByClassName("collapsible");
            var i;
            for (i = 0; i < coll.length; i++) {
                if((onOrOff[1+i] == 1)){
                    coll[i].classList.toggle("active")
                    content = coll[i].nextElementSibling
                    if (content.style.display === "block") {
                        content.style.display = "none";
                    } else {
                        content.style.display = "block";
                    }
                }
            }
        }

        let f = () =>{
            var coll = document.getElementsByClassName("collapsible");
            var i; 

            for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                console.log(this.innerHTML)
                onOrOff[STATES.indexOf(this.innerHTML)] = 1- onOrOff[STATES.indexOf(this.innerHTML)]
                console.log(onOrOff)
                var content = this.nextElementSibling;
                if (content.style.display === "flex") {
                    content.style.display = "none";
                } else {
                    content.style.display = "flex";
                }
            });
            }
        }
        let k = (prev, data) =>{
            if(STATES.indexOf(data.progress_message) == -1) return;
            for(let i of STATES.slice(1, STATES.indexOf(data.progress_message))){
                switch(i){
                    case STATES[2]:
                        $("#from").empty()
                        for(let f=0; f<data.state_info[STATES[2]].length; f++){
                            if(f == data.state_info[STATES[2]].length-1) $("#from").append(data.state_info[STATES[2]][f])
                            else $("#from").append(data.state_info[STATES[2]][f] + ", ")
                        }
                        break
                    
                    case STATES[5]:
                        $("#where").empty()
                        $("#where").append(data.state_info[STATES[5]])
                        break
                    
                    case STATES[8]:
                        var p_name = data.state_info[STATES[8]]['names']
                        var p_attrib = data.state_info[STATES[8]]['attribs']
                        res = ""
                        for(let i = 0; i<p_name.length; i++){
                            if(p_name[i] == p_attrib[i]){
                                res += (p_name[i])
                            }
                            else{
                                res += (p_attrib[i]+" as " + p_name[i]);
                            }
                            if(i!=p_name.length-1) res += ", ";
                        }
                        $("#select").empty()
                        $("#select").append(res)
                        break
                    
                    case STATES[9]:
                        $("#group_by").empty();
                        res = ""
                    
                        let g_attribs = data.state_info[STATES[9]]
                        if(!g_attribs) continue
                        for(let i=0; i<g_attribs.length; i++){
                            if(i!=g_attribs.length-1) res += (g_attribs[i] + ", ")
                            else res += g_attribs[i]
                        }
                        $("#group_by").append(res)
                        break
                    
                    case STATES[10]:
                        
                        let aggs = data.state_info[STATES[10]]
                        if(!aggs) continue;
                        res = ""
                        $("#select").empty()
                        for(let i=0; aggs != null &&  i<aggs.length; i++){
                            if(aggs[i][1] == "") res += aggs[i][0];
                            else{
                                res += aggs[i][1] + "(" + aggs[i][0] + ")"
                            }
                            if(p_name[i] != p_attrib[i]) res += " as " + p_name[i]
                            if(i != aggs.length-1) res += ", "
                        }
                        $("#select").append(res)
                        break;
                    
                    case STATES[11]:
                        $("#order_by").empty()
                        
                        if(data.state_info[STATES[11]]) $("#order_by").append(data.state_info[STATES[11]].slice(0, data.state_info[STATES[11]].length-2))
                        break;

                    case STATES[12]:
                        $("#limit").empty();
                        if(data.state_info[STATES[12]]) $("#limit").append(data.state_info[STATES[12]]);
                        break;
                }
            }
        }
        let STATES = {{states | safe}}
        var onOrOff = new Array(STATES.length)
        var SELECT = []
        var FROM = []
        var WHERE = []
        var GROUP_BY = []
        var ORDER_BY = []
        var LIMIT = null 
        onOrOff.fill(0)
        STATES.push("DUMMY")
        console.log(STATES)
        var curr_state = STATES[0]
        // Function to fetch progress updates using AJAX
        let stateInfoRefine = (data, curr_state) =>{
            if(curr_state == STATES[0]) return ""
            if(curr_state == STATES[7] && data.state_info[curr_state] != null) return JSON.stringify(data.state_info[curr_state][0])
            if(curr_state == STATES[3]){
                if(data.state_info[STATES[3]] == STATES[3] + "DISABLED") 
                {
                    return "SAMPLING DISABLED!";
                }
                else if(data.state_info[STATES[3]] == STATES[3] + "FAILED"){
                    return "SAMPLING FAILED!";
                }
                else{
                    res = "<table class=\"min_tab sample_table\"><tr><th>Table</th><th>Sample</th><th>Original</th></tr>"
                    for(let ele of data.state_info[STATES[2]]){
                        res += "<tr>"+("<td>"+ele+"</td><td>"+data.state_info[STATES[3]]["sample"][ele] + "</td><td>" + data.state_info[STATES[3]]["size"][ele] + "</td></tr>")
                    }
                    res += "</table>"
                    return res;
                }
            }            
            return JSON.stringify(data.state_info[curr_state])
        }

        let getTables = (data) => {
            tables = data.state_info[STATES[2]]
            dbmin = data.state_info[STATES[4]]
            res = ""
            for(let i=0; i<tables.length; i++){
                res += "<div class=\"tab_title\">" + tables[i] +"<div>" 
                res+="<table class=\"min_tab\"><tr>"
                for(let j=0; j<dbmin[tables[i]][0].length; j++){
                    res += "<th>"+ dbmin[tables[i]][0][j] +"</th>"
                }
                res += "</tr><tr>"
                for(let j=0; j<dbmin[tables[i]][1].length; j++){
                    res += "<td>"+ dbmin[tables[i]][1][j] +"</td>"
                }
                res+="</tr></table>"
            }
            return res
        }

        function fetchProgress() {
            $.ajax({
                url: "{% url 'check_progress' token %}", // Update with your view's URL
                type: "GET",
                dataType: "json", // Change data type if necessary
                success: function(data) {
                    // Update the progress-updates div with the received data
                    console.log(data.progress_message)
                    console.log(data.state_info)
                    $("#progress-updates").html(data.progress_message);
                    if(data.progress_message == "_WRONG"){
                        console.log("WRONG")
                        //setTimeout(() => window.location.href = "/unmasque/result/{{ token }}",5000)
                        return
                    }
                    else{
                        data.progress_message = data.progress_message.replace("_START", "")
                        data.progress_message = data.progress_message.replace("_RUNNING", "")
                        if(data.progress_message != "_DONE") data.progress_message = data.progress_message.replace("_DONE", "")
                        if(data.progress_message != curr_state){
                            let s_idx = STATES.indexOf(data.progress_message);
                            let circles = document.getElementsByClassName("circle");
                            if(circles){
                                for(let circle of circles){
                                    if(STATES.indexOf(circle.dataset.state) < s_idx){
                                        circle.classList.remove("inactive")
                                        circle.classList.remove("running")
                                        circle.classList.add("done");
                                    }
                                    else if(STATES.indexOf(circle.dataset.state) == s_idx){
                                        circle.classList.remove("inactive")
                                        circle.classList.remove("done")
                                        circle.classList.add("running");
                                    }
                                }
                            }
                            $(".actualInfo").empty()
                            for(let i of STATES.slice(1, STATES.indexOf(curr_state)+1)){
                                if(i == STATES[4]){
                                    $(".actualInfo").append("<div class=\"innerContainer\"><button class=\"collapsible\">"+ i +"</button><div class=\"content dbmin\">" + getTables(data)+ "</textarea></div>")
                                }
                                else if(i == STATES[3]) $(".actualInfo").append("<div class=\"innerContainer\"><button class=\"collapsible\">"+ i +"</button><div class=\"content\">"+stateInfoRefine(data, i)+"</div>")   
                            }
                            //f()
                            //g()
                            k(curr_state, data)
                        }

                        curr_state = data.progress_message
                    }
                    if(curr_state == "_DONE"){
                        $("#res_btn").removeAttr("disabled")
                        return
                    }
                    // Set a timeout to fetch progress again after 1 second
                    setTimeout(fetchProgress, 1000);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                // Print the error details to the console
                    console.error("AJAX Error:", textStatus, errorThrown);

                // Set a timeout to retry the request after 1 second
                    setTimeout(fetchProgress, 1000);
                }
            });
        }

        // Start fetching progress updates
        $(document).ready(function() {
            fetchProgress();
        });
    </script>
</body>
</html>
